/* src/app/globals.css */
:root {
  --primary-color: #000000;
  --secondary-color: #2c3e50;
  --accent-color: #e74c3c;
  --background-color: #000000;
  --text-color: #f8f8f8;
  --card-background: #ffffff;
  --card-border: #bdc3c7;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}
